#  Local .terraform directories & licenses
/.terraform/
**/.terraform/*
*.rli

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Terraform lock file
.terraform.lock.hcl

.DS_Store
*.bk

# Editor files
.vscode
