#  Local .terraform directories
/.terraform/
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Terraform lock file
.terraform.lock.hcl

# Terraform Backend file
backend.hcl

.DS_Store
*.bk
