acm_certificate_arn  = "arn:aws:acm:region:<account_id>:certificate/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxx"
aws_role_arn         = "arn:aws:iam::<account_id>:role/<role_name>"
domain_name          = "my.domain.com"
license_file         = "/files/license.rli"
tags                 = {
                        Owner       = "My Name"
                        Environment = "standalone-mounted"
                       }
tfe_subdomain        = "tfe.my.domain.com"
