acm_certificate_arn  = "arn:aws:acm:region:<account_id>:certificate/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxx"
domain_name          = "my.domain.com"
license_file         = "/files/license.rli"
distribution         = "ubuntu"
tags                 = {
                        Owner       = "My Name"
                        Environment = "standalone-mounted"
                       }
tfe_subdomain        = "tfe.my.domain.com"
