acm_certificate_arn  = "arn:aws:acm:region:<account_id>:certificate/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxx"
aws_role_arn         = "arn:aws:iam::<account_id>:role/<role_name>"
ami_id               = "ami-1234567890123456789"
domain_name          = "my.domain.com"
friendly_name_prefix = "user-friendly-name"
license_file         = "/files/license.rli"
tags                 = {
                        Owner       = "My Name"
                        Environment = "existing-image"
                       }
tfe_subdomain        = "tfe.my.domain.com"