Host default
    HostName ${hostname}
    User ${ssh_user}
    Port 22
    UserKnownHostsFile /dev/null
    StrictHostKeyChecking no
    PasswordAuthentication no
    IdentityFile ${keyfile_path}
    IdentitiesOnly yes
    LogLevel FATAL